<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initail-scale=1.0">
    <title> Heart Disease Percent </title>
</head>

<body sytle="background: #000;">
    <div class="login">
        <h1 style="color: Violet;">Heart Disease Prediction</h1>
        <form action="{{ url_for('predict')}}" method="post">
            <input type="text" name="percent biking" placeholder="Percent population biking", required="required" /><br>
            <input type="text" name="percent smoking" placeholder="Percent population smoking", required="required" /><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict percent population</button>
        </form>
        <br>
        <br>
        <h4 style="color: Violet;"> {{Prediction_text}} </h4>
    </div>
</body>

</html>